<h3>ABOUT</h3>
Super Link is a website created by Felix Moses, Milo Moses, Addison Sutton, Parker Sutton for HS Hacks IV. Its a web application that lets you link variable together in a web and it will automatically solve for all missing variable it can. The backend was build using Flask (A python library for web site back end development), letting it handle arbitrarily large numbers. It has a wide array of application, ranging from RSA, to figuring out you mile time in diffrent units.
<h3>MORE</h3>
devpost: https://devpost.com/software/super-link
<br>
github: https://github.com/FelixMo42/super_link
<br>
email (if you have any more Qs): felix@tacocat.com

<br><br>

<a href="/">Back</a>
<a href="/help">Help</a>
<a href="/doc">Documentary</a>
