<h3>HOW TO USE</h3>

There are two major things in this application: variables and links. To create a variable press new variable and type in the name. You will see this creates a variable in the work area, by typing in the text box you can change its value any time. A link is a conection bettween two or more variable; EX: an adding link says that variable 1 + variable 2 = variable 3. Super Link will automaticaly fill in varaibal it can deduce from your inputs and the links. It you create a new link with non created variable it will automatically create them. You can delete or edit a link by right clicking on it and similarly you can rename or delet a variable by delete right clicking on it. Have fun!

<br><br>

PS. If you have any request for additonal feaute or bug fixes feel free to email me at felix@tacocat.com.

<br><br>

<a href="/">Back</a>
<a href="/about">about</a>
